@model IEnumerable<UrunSatisPortali.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
}

<h1>Kategoriler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>