@model IEnumerable<UrunSatisPortali.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
}

<h1>Kategoriler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td style="width: 150px;">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <button data-id="@item.Id" class="btn btn-danger btn-sm js-delete-category">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Class'ı .js-delete-category olan tüm butonları seç
            $(".js-delete-category").on("click", function () {
                var btn = $(this); // Tıklanan butonu bir değişkene al

                var confirmation = confirm("Bu kategoriyi silmek istediğinizden emin misiniz?");

                if (confirmation) {
                    $.ajax({
                        url: "/Admin/Category/Delete/" + btn.data("id"),
                        method: "POST",
                        success: function (response) {
                            if (response.success) {
                                btn.closest("tr").fadeOut(500, function () {
                                    $(this).remove();
                                });
                                alert(response.message); 
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Bir sunucu hatası oluştu.");
                        }
                    });
                }
            });
        });
    </script>
}